<!doctype html>
  <html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="./site-alex.component.css">
      <!--Google fontes-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <!--Término do Google fontes-->
      <!--Bootstrap-Icons-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <!--Término do Bootstrap-Icons-->
      <title>Alex Carvalho - Portfolio</title>
    </head>
    <body>
      <header>
        <div class="interface">
          <div class="logo">
            <a href="#">
              <img src="assets/EuBacanaTransparente.png" alt="Logo do meu site." style="height: 50px;">
            </a>
          </div><!--Encerra a logo-->
          <nav class="menu-desktop">
            <ul>
              <li><a href="#">Início</a></li>
              <li><a href="#">Quem eu sou?</a></li>
              <li><a href="#">Especialidades</a></li>
              <li><a href="#">Projetos</a></li>
            </ul>
          </nav><!--Encerra a meu-desktop-->
          <div class="btn-contato">
            <a href="#">
              <button>Contato</button>
            </a>
          </div><!--Encerra o btn-contato-->
          <div class="btn-menu-hamburguer">
            <i class="bi bi-list-nested"></i>
          </div><!--Encerra o btn-menu-hamburguer-->
          <div class="menu-mobile">
            <div class="btn-fechar">
              <i class="bi bi-x-octagon"></i>
            </div><!--Encerra o btn-fechar-->
            <nav>
              <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Quem eu sou?</a></li>
                <li><a href="#">Especialidades</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contato</a></li>
              </ul>
            </nav>
          </div><!--Encerra o menu-mobile-->
          <div class="overlay-menu-mobile">

          </div><!--Encerra o overlay-menu-mobile-->
        </div><!--Encerra a interface-->
      </header>
      <main>
        <section class="topo-site">
          <div class="interface">
            <div class="universal-flex">
              <div class="esquerdo-txt-topo-site">
                <h1><span>Transformo ideias</span> em negócios para quem vê além do código<span>.</span></h1>
                <p>Sistematizo emoções, visões e empreendimentos em aplicações que fazem sentido.
                  Não desenvolvo apenas sistemas, torno experiências em códigos que inspiram e trazem resultados positivos.
                  Onde muitos veem apenas dificuldades, eu vejo oportunidades para escrever uma grande histórias.</p>
                <div class="btn-contato">
                  <a href="#"><button>Entre em contato</button></a>
                </div><!--Encerra o btn-contato-->
              </div><!--Encerra esquerdo-txt-topo-site-->
              <div class="direito-img-topo-site">
                <img src="assets/EuBacanaTransparente.png" alt="Foto de perfil." style="height: 400px;">
              </div><!--Encerra direito-img-topo-site-->
            </div><!--Ecerra universal-flex-->
          </div><!--Encerra interface-->
        </section><!--Encerra topo-site-->

        <section class="especialidades">
          <div class="interface">
            <h2 class="titulo">Minhas <span>especialidades.</span></h2>
            <div class="universal-flex">
              <div class="especialidades-box">
                <i class="bi bi-pc-display"></i>
                <h3>Sites ou Websites.</h3>
                <p>O que é um site ou um website? É um documento ou mais que podem ser mostrados em um navegador Web como Firefox, Google Chrome, Opera,
                  Microsoft Edge ou Safari.
                  Tais documentos também podem ser referenciados apenas por "sites ou websites", depende do seu formato.</p>
              </div><!--Encerra a especialidades-box-->
                <div class="especialidades-box">
                  <i class="bi bi-phone-flip"></i>
                  <h3>Aplicativos.</h3>
                  <p>O que é um aplicativo? Aplicativos são programas de software presentes em celulares Android, iPhone (iOS), e em outros diversos dispositivos
                    inteligentes, como smart TVs. Os apps podem ser gratuitos ou pagos e desempenham diversas funções: mensageiros online,
                    streaming, gerenciadores, editores de fotos e vídeos etc. Alguns já vêm instalados de fábrica, enquanto outros
                    podem ser obtidos na Apple Store ou na Play Store.</p>
                </div><!--Encerra a especialidades-box-->
              <div class="especialidades-box">
                <i class="bi bi-chat-square-dots"></i>
                <h3>Blogs.</h3>
                <p>O que é um blog? Blog é um site informativo, também chamado de diário online, onde os conteúdos são apresentados em ordem cronológica
                  inversa, ou seja, com destaque para as publicações mais recentes, muitas vezes chamadas de blog posts.</p>
              </div><!--Encerra a especialidades-box-->
            </div><!--Encerra a flex-->
          </div><!--Encerra a interface-->
        </section><!--Encerra a sessão-->
        <section class="portfolio">
          <div class="interface">
            <h2 class="titulo">Meu <span>portfolio.</span></h2>
            <div class="universal-flex">
              <div class="img-port" style="background-image: url(assets/PrevisaoTempo.png);">
                <div class="overlay">API de Previsão do tempo.</div>
              </div>
              <div class="img-port" style="background-image: url(assets/CartaoVisitas.png); transition: 7s">
                <div class="overlay">API de um Cartão de visitas.</div>
              </div>
              <div class="img-port" style="background-image: url(assets/votacao.png);">
                <div class="overlay">API para Votação eletrônica.</div>
              </div>
            </div>
          </div><!--Encerra a interface-->
        </section><!--Encerra o portfolio-->

        <section class="sobre">
          <div class="interface">
            <div class="universal-flex">
              <div class="img-sobre">
                <img src="assets/EuBacana.png" alt="Minha foto de perfil." style="height: 500px;">
              </div><!--Encerra img-sobre-->
              <div class="direito-txt-sobre">
                <h2>Muito prazer, me chamo <span>Alex Carvalho.</span></h2>
                  <p>Sou Alex, graduando em Análise e Desenvolvimento de Sistemas pelo Instituto Federal do Rio Grande do Sul (IFRS).
                    Possuo conhecimentos em diversas linguagens de programação, incluindo Java, C#, Delphi e Dart,
                    além de experiência no uso de frameworks como Angular, Spring Boot, .NET, VCL e Flutter
                    para o desenvolvimento de aplicações escaláveis. Tenho adquirido conhecimento em arquitetura de software
                    e em metodologias ágeis, como o Scrum.</p>
                <p>Também sou familiarizado com testes automatizados, utilizando ferramentas como Selenium e Robot Framework.
                  Estou em constante processo de aprendizagem sobre soluções de computação em nuvem, com ênfase na plataforma AWS.
                  Além disso, estudo inglês e francês na Universidade Federal do Rio Grande do Sul (UFRGS).</p>
              </div><!--Encerra direito-txt-sobre-->
              <div class="btn-social">
                <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                <a href="#"><button><i class="bi bi-github"></i></button></a>
              </div><!--Encerra btn-social-->
            </div><!--Encerra a flex-->
          </div><!--Encerra a interface-->
        </section><!--Encerra a sessão-->

        <section class="formulario">
          <div class="interface">
            <h2 class="titulo"><span>Tchê,</span> fala <span>comigo!</span>!?</h2>
            <form action="#">
              <input type="text" name="" id="name" placeholder="Digite o seu nome." [required]="true">
              <input type="text" email="" id="email" placeholder="Digite o seu e-mail.">
              <input type="text" telefone="" id="telefone" placeholder="Digite o seu telefone" [required]="true">
              <textarea name="campoLivre" id="campoLivre" cols="40" rows="10" placeholder="Descreva sua mensagem" [required]="true"></textarea>
              <div class="btn-enviar"><input type="submit" value="Enviar"></div>
            </form>
          </div><!--Encerra interface-->
        </section><!--Encerra formulario-->
      </main><!--Encerra main-->
      <footer>
        <div class="interface">
          <div class="linha-footer">
            <div class="universal-flex">
              <div class="logo-footer">
                <img src="assets/EuBacanaTransparente.ico" alt="Logo" style="height: 100px;">
              </div><!--Encerra logo-footer-->
              <div class="btn-social">
                <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                <a href="#"><button><i class="bi bi-github"></i></button></a>
              </div><!--Encerra btn-social-->
            </div><!--Encerra Universal Flex-->
          </div><!--Encerra linha-footer-->
          <div class="linha-footer borda">
            <p><i class="bi bi-envelope-check-fill"></i><a href="mailto:alexcarvalhovisk@gmail.com">alexcarvalhovisk&commat;gmail.com</a></p>
          </div><!--Encerra linha-footer-->
        </div><!--Encerra interface-->
      </footer><!--Final Rodapé-->
    </body>
  </html>
